<!DOCTYPE html>
<html>

<head>
    <script>
        window.openDialogSettings = {
            url: 'https://maia.cloud.opendialog.ai',
            appKey: '11|6RAT7FfkhaWmXg66R3T0q7ilzzdi6ccBIwgzKO76',
            user: {
                custom: {
                    selected_scenario: '416'
                }
            },
        };
    </script>
    <script src='https://maia.cloud.opendialog.ai/vendor/webchat/js/opendialog-bot.js'></script>
</head>

<body>

    <h1>Sample chatbot</h1>


</body>

</html>